[submodule "src/ExternalRepo/SwinIR"]
	path = src/ExternalRepo/SwinIR
	url = https://github.com/JingyunLiang/SwinIR
[submodule "src/ExternalRepo/Restormer"]
	path = src/ExternalRepo/Restormer
	url = https://github.com/swz30/Restormer
[submodule "src/ExternalRepo/diffct"]
	path = src/ExternalRepo/diffct
	url = https://github.com/sypsyp97/diffct
